<!DOCTYPE html>
<html>
<head>
  <title>Blog2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.nil? %>
  <%= link_to "log in", new_user_session_path %> or 
  <%= link_to "register", new_user_registration_path %>
<% else %>
  <%= current_user.email %>
  <%= link_to "exit", destroy_user_session_path, method: :delete %>
<% end %>


<%= yield %>

</body>
</html>
